.gridcontainer{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:80px 150px 80px; 
    gap:7px;
    text-align: center;
}
.div1{
    grid-column:1/4;
}

.div5{
    grid-column: 1/4;
}