*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
#heading{
    text-align: center;
    margin:0px;
}
.section1{
    width:100%;
    padding-top:20px;
    padding-left:100px;
    font-size:x-small;
}
.divLeft{
    background-color:rgb(184, 205, 225);
    width:40%;
    margin:0px;
    border-radius:30px ;
    display: inline-block;
}
img{
     width:100%;
     height:130px;
     margin: 0%;
     border-top-left-radius:20px;
     border-top-right-radius:20px;
}
h2{
    padding-left:10px;
}
p{
    font-size: x-small;
    padding-left:10px;
}
.btn{
    padding-left: 15px;
    padding-bottom: 5px;
}
.btn1{
    background-color: rgb(62, 62, 232);
    padding:3px;
    font-weight:500;
    color: aliceblue;
    border-radius:10px;
    border: none;
    cursor: pointer;
}
.divRight{
  background-color:rgb(184, 205, 225);
    width:40%;
    margin:0px;
    border-radius:30px;
    display: inline-block;
    margin-left:150px;
}
.btn2{
     background-color: rgb(62, 62, 232);
    padding:4px;
    font-weight:500;
    color: aliceblue;
    border-radius:10px;
    border: none;
    cursor: pointer;
}
.section2{
       width:100%;
    padding-top:20px;
    padding-left:100px;
    font-size:x-small;
}
.divLeft1{
       background-color:rgb(184, 205, 225);
    width:40%;
    margin:0px;
    border-radius:30px ;
    display: inline-block;
}
.divRight1{
    background-color:rgb(184, 205, 225);
    width:40%;
    margin:0px;
    border-radius:30px;
    display: inline-block;
    margin-left:150px;
}
